<!DOCTYPE html>
<html lang="ja">
<body>
  <div class="top-main">
    <h6>つぶやきで、世界はつながる<br>今の気持ちをつぶやいてみよう！</h6>
    <div class="top-link-btn">
      <ul>
        <li>
          <%= link_to("今すぐはじめる", "/signup") %>
        </li>
      </ul>
    </div>
  </div>
  <div class="top-sub">
    <h6><i class="fas fa-comment-alt"></i> いま起きていることを見つけよう<h6>
  </div>
  <div class="top-sub-sub">
    <h6 class="sub-sub-text">世界中で話題を盛り上げよう <i class="fas fa-comments"></i><h6>
  </div>
  <div class="footer-top">
      <div class="footer-text">© 2020 Tweet, Inc.</div>
    </div>
  </div>
</body>
</html>
